 В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [2]:
import random
import pandas as pd

In [3]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [8]:
data = pd.DataFrame({'whoAmI':lst})

Без get_dummies

In [5]:
data

   whoAmI
0   human
1   human
2   robot
3   robot
4   human
5   robot
6   human
7   robot
8   human
9   human
10  human
11  human
12  robot
13  robot
14  robot
15  human
16  robot
17  robot
18  robot
19  human

In [10]:
df2 = pd.DataFrame({'whoAmI':['human', 'robot'],'human':['1','0'],'robot':['0','1']})

data.join(df2.set_index('whoAmI'), on ='whoAmI')

   whoAmI human robot
0   human     1     0
1   human     1     0
2   robot     0     1
3   robot     0     1
4   human     1     0
5   robot     0     1
6   human     1     0
7   robot     0     1
8   human     1     0
9   human     1     0
10  human     1     0
11  human     1     0
12  robot     0     1
13  robot     0     1
14  robot     0     1
15  human     1     0
16  robot     0     1
17  robot     0     1
18  robot     0     1
19  human     1     0